body {
    background: white url("images/image.png") no-repeat;
}

li a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
footer {
    background-color: white;
}
h2 {
    color: black;
    background-color: white;
}